/* ページ全体 */

body {
  background-color: #f0eeee;
}

/** ヘッダー */

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0 8px 0;
  background-color: rgb(77, 70, 70);
}

.header_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_image {
}

.header_menu {
}

/* リンク文字 */

.header_menu_item a {
}

/* リンク文字ホバー時 */

a:hover {
}

.contents_item h1 {
}
