/* ページ全体 */

body {
  background-color: #f0eeee;
}

/** ヘッダー */

.header_container {
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0 8px 0;
}

.header_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_image {
}

.header_menu {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

/* リンク文字 */

.header_menu_item a {
}

/* リンク文字ホバー時 */

a:hover {
}

.contents_item h1 {
}

h1 {
  color: rgb(85, 189, 0);
  font-size: 50px;
  word-break: break-all;
}
.description .text {
  color: rgb(252, 252, 255);
  width: 50%;
  word-break: break-all;
}

.description {
  display: flex;
  flex-direction: column;
}

.members {
  background-color: black;
  color: white;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.member {
  display: flex;
  flex-wrap: wrap;
}
